.modal{
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__background{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal__container{
    background-color: white;
    border-radius: .5rem;
    padding: 3rem;
    z-index: 1;
}

.modal__container__content{
    margin-bottom: 2rem;
}